/* Подключение шрифта Roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  src: url("Roboto.ttf") format('truetype');
}

/* Общие настройки страницы */

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #090909;
}

*, *::before, *::after{
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: #233E34;
  color: #f2f2f2;
}

hr {
  border-color: #477061;
}

.container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* CSS аккордеона */

.accordion {
padding-top: 25px;
}

.accordion-item {
  border-radius: 0.4rem;
}

.accordion-link {
  font-size: 1.6rem;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link h3 {
  font-weight: 600;
  font-size: 20px;
  transition: 0.5s;
}

.accordion-link i {
  color: #77B59E;
}

h3:hover, .accordion-link li:hover {
  color: #77B59E;
}

.accordion-link ul{
  display:flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordion-link li {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 1px 5px;
  transition: 0.5s;
}

.accordion-link div {
  display: flex;
}

.accordion-link .ion-md-arrow-down {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 800ms;
}

.answer p{
  color: #f2f2f2;
  font-size: 15px;
  padding: 2rem;
}

.accordion-item:target .answer{
  max-height: 44rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward{
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down{
  display: block;
}

 /* Неактивное состояние */
 
i.icon.ion-md-arrow-forward {
  transform: scale(var(--ggs, 1));
}

i.icon.ion-md-arrow-forward, i.icon.ion-md-arrow-forward::after, i.icon.ion-md-arrow-forward::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}

i.icon.ion-md-arrow-forward::after, i.icon.ion-md-arrow-forward::before {
  content: "";
  position: absolute;
  top: -6px;
}

i.icon.ion-md-arrow-forward::after {
  top: 6px;
}

/* Активное состояние */

i.icon.ion-md-arrow-down {
  transform: scale(var(--ggs, 1));
}

i.icon.ion-md-arrow-down, i.icon.ion-md-arrow-down::after, i.icon.ion-md-arrow-down::before {
  box-sizing: border-box;
  position: relative;
  width: 4px;
  height: 4px;
  background: currentColor;
  border-radius: 100%;
}

i.icon.ion-md-arrow-down::after, i.icon.ion-md-arrow-down::before {
  content: "";
  position: absolute;
}

i.icon.ion-md-arrow-down::after {
  left: 0;
  top: 6px;
}

i.icon.ion-md-arrow-down::before {
  top: -6px;
  right: 0;
}

/* CSS ккнопки с переходом в другие разделы сайта */


.button {
  background-color: #151515;
  color: #477061;
  border: solid #253731 2px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  font-size: 1.7em;
  font-weight: 500;
}

.button {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 35px;
  margin: 6px 0px;
  display: grid;
  transition: all 0.5s ease-in-out;
}

.button:before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #67a58e;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.button:hover:before {
  width: 100%;
}

.button:hover {
  color: #090909;
  border-color: #67a58e;
}

.button:active:before {
  background-color: #67a58e;
}

.button:active {
  border-color: #67a58e;
  background-color: #67a58e;
  color: #090909;
}

.button:focus {
  outline: none
}


/* CSS горизонтального слайдера */

.gallery {
  --s: 50px;
  display: grid;
  height: 150px;
  gap: 8px;
  grid-auto-flow: column;
  place-items: center;
}

.gallery img {
  width: 0;
  min-width: calc(100% + var(--s));
  height: 0;
  min-height: 100%;
  object-fit: cover;
  clip-path: polygon(var(--s) 0,100% 0,calc(100% - var(--s)) 100%,0 100%);
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.5;
}

.gallery img:hover {
  width: 15vw; 
  cursor: auto;
  opacity: 1;
}

.gallery img:first-child {
  min-width: calc(100% + var(--s)/2);
  place-self: start;
  clip-path: polygon(0 0,100% 0,calc(100% - var(--s)) 100%,0 100%);
}

.gallery img:last-child {
  min-width: calc(100% + var(--s)/2);
  place-self: end;
  clip-path: polygon(var(--s) 0,100% 0,100% 100%,0 100%);
}

/* CSS блоков с логотипом */

#logotype {
  padding: 0 1.5rem;
}

@media (max-width: 640px) {
  html {
    font-size: 50%;
  }
}

/* CSS анимация */

#onelogo {
  transition: 2.5s;
 }

#onelogo:hover {
  fill: #77B59E; 
  stroke: #77B59E;
  transition: 0.5s;
 }

#logo {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
	
.block1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

#logo svg {
  width: 100%;
  height: auto;
}

/* CSS Меню сайта */

ul#menu { 
  list-style: none; 
  display: table;
  width: 100%;
  text-align: center;
  padding: 0px 26% 0px 0px;
  font-weight: 600;
  margin: -2em 0px 0px 0px;
}

ul#menu li { 
  display: table-cell; 
  position: relative; 
}

ul#menu a {
  color: #67a58e;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0px 5px 10px 5px;
  position: relative;
  font-size: 1.2em;
}

ul#menu a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #77B59E;
  transition: width 0.3s cubic-bezier(.86,0,.07,1) 0s, left 0.3s ease 0s;
  width: 0;
}

ul#menu a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* CSS Футер */

.footer {
  padding: 30px 0px;
  text-align:center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #477061;
  font-size: 1.2em;
}

.footer .row a {
  padding: 0px 5px;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin:0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin:0% 1%;
}

@media (max-width:720px){

.footer {
padding:5%;
}

.footer .row ul li {
display: block;
margin: 10px 0px;
}

.footer .row a i {
margin: 0% 3%;
}
}

.footer_icons {
  width: 30px;
  height: 30px;
}
